<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div style="margin: 0; padding: 0;">
      <table align='center' width="600px" style="border-collapse: collapse; border-radius: 10px; font-family: Rubik, sans-serif;">
         <tr bgcolor='#505050' style="text-align: center;" ><td colspan="3"><img style="margin: 10px 5px 10px 5px;" src='https://images.unsplash.com/photo-1555504905-814a5c54a6b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80' alt="Hotcube" height='50px'/></td></tr>
         
         <tr>
            <td style="padding: 10px 30px 20px 30px;">
               <table width='100%' style="border-collapse: collapse;">
                  <tr>
                     <td colspan="3">
                        <p>Halo, <b>Nicolas Gunawan</b>,</p>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="3">
                        <h2><b>Pembayaran dan pesanan anda sudah kami terima.</b></h2>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="3">
                        <p>Terima kasih! Berikut ini detail pembayaranmu:</p>
                     </td>
                  </tr>
                  <tr bgcolor='lightgrey'>
                     <td><p style="margin: 0; padding: 1px 5px 1px 5px">Total Bayar</p></td>
                     <td colspan="2"><p><b>IDR 300,000</b></p></td>
                  </tr>
                  <tr bgcolor='lightgrey'>
                     <td><p style="margin: 0; padding: 1px 5px 1px 5px">Waktu Pembayaran</p></td>
                     <td colspan="2"><p><b>Senin, 10 Mei 2021, 14:52 WIB</b></p></td>
                  </tr>
                  <tr>
                     <td colspan="3">
                        <h3><b>Rincian Pesanan</b></h3>
                     </td>
                  </tr>
                  <tr style="text-align: center;">
                     <td><b>Item</b></td>
                     <td><b>Amount</b></td>
                     <td><b>Price</b></td>
                  </tr>
                  <tr style="text-align: center;">
                     <td>Fries</td>
                     <td>5</td>
                     <td>IDR 50,000</td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td bgcolor='#505050' style="color: white; text-align: center;">
               <p style="margin: 10px 5px 10px 5px;">&reg; Hotcube 2021<br/>
                  <a href="#" style="text-decoration: none; color: lightblue;">Unsubscribe</a> to this newsletter instantly.</p>
            </td>
         </tr>
      </table>
   </div>
</body>
</html>